.controls {
  margin-top: 15px;

  &__container {
    margin-bottom: 50px;
  }

  &__container:after {
    content: '';
    display: table;
    clear: both;
  }

  &__button {
    float: left;
    width: 20%;
    margin-right: 10px;

    text-transform: uppercase;
  }

  &__timer {
    font-size: 30px;
    font-weight: 500;
    float: right;
  }

  &__track-button {
    display: inline-block;

    width: 30%;
    height: 50px;

    float: right;
    text-transform: uppercase;
  }
}
