.controls {
  margin-top: 15px;

  &__container {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
  }

  &__button {
    width: 20%;
    margin-right: 10px;

    text-transform: uppercase;
  }

  &__timer {
    display: inline-block;
    width: 130px;
    margin: 0 20px 0 auto;
    box-sizing: border-box;

    font-size: 30px;
    font-weight: 500;
    text-align: center;

    color: black;

    background: none;
    border: none;

    cursor: pointer;
  }

  &__timer:hover {
    background-color: #efefff;
  }

  &__timer:focus,
  &__timer:active {
    border: 1px solid #888;
  }

  &__date {
    display: inline-block;
  }

  &__track-button {
    display: inline-block;

    width: 30%;
    height: 50px;
    margin-left: auto;

    text-transform: uppercase;
  }
}
