.controls {
  margin-top: 15px;

  &__container {
    display: flex;
    align-items: center;

    margin-bottom: 50px;
  }

  &__button {
    width: 20%;
    margin-right: 10px;

    text-transform: uppercase;
  }

  &__timer {
    display: inline-block;
    margin: 0 30px 0 auto;
    font-size: 30px;
    font-weight: 500;
  }

  &__date {
    display: inline-block;
  }

  &__track-button {
    display: inline-block;

    width: 30%;
    height: 50px;
    margin-left: auto;

    text-transform: uppercase;
  }
}
