<div class="auth-container">
  <div class="auth">
    <mat-card class="auth__card">
      <mat-card-title>JIRA Time Tracker</mat-card-title>
      <form [formGroup]="authForm" novalidate>
        <div class="auth__fields">
          <mat-form-field class="auth__field">
            <input type="url" formControlName="url" placeholder="Your JIRA URL" matInput>
          </mat-form-field>
          <mat-form-field class="auth__field">
            <input formControlName="login" placeholder="Login" matInput>
          </mat-form-field>
          <mat-form-field class="auth__field">
            <input type="password" formControlName="password" placeholder="Password" matInput>
          </mat-form-field>
        </div>
        <div class="auth__btn-group">
          <button
            (click)="login()"
            mat-raised-button class="auth__btn"
            [disabled]="authForm.invalid">LOGIN</button>
        </div>
      </form>
    </mat-card>
  </div>
</div>
