<div class="search-form">
  <mat-card>
    <mat-card-title class="search-form__header">Choose a task for time tracking</mat-card-title>
    <div class="search-form__fields">
      <div class="search-form__field-container">
        <label for="autocomplete" class="search-form__label">Find task by title or id</label>

        <mat-form-field id="autocomplete" #autocomplete class="search-form__field">
          <input matInput [matAutocomplete]="auto" [formControl]="autocompleteControl">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let task of filteredTasks | async" [value]="task">
              {{ task }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="search-form__field-container search-form__field-container--shrink">OR</div>
      <div class="search-form__field-container search-form__field-container--underlined">
        <label for="select" class="search-form__label">Choose from your tasks</label>

        <mat-form-field id="select" #select class="search-form__field">
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let task of tasks" [value]="task">
              {{ task }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-card>
</div>
